<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Display success flash message if available -->
    <% if (success && success.length> 0) { %>
    <div class="alert alert-success"><%= success[0] %></div>
    <% } %>

    <!-- Display error flash message if available -->
    <% if (error && error.length> 0) { %>
    <div class="alert alert-danger"><%= error[0] %></div>
    <% } %>
    <div class="navBar">
      <div class="navBar">
        <div>
          <a href="/"><img class="logoPic" src="binny.svg" /></a>
        </div>
        <div>
          <h1>RecycleRight</h1>
        </div>
      </div>
      <div class="rightButton">
        <% if (!isLoggedIn) { %>
        <button class="navBarButton">
          <a href="/login">Log In/Sign Up</a>
        </button>
        <% } %>
        <button class="navBarButton">
          <a href="/recycling-guide">Recycling Guide</a>
        </button>
        <button class="navBarButton">
          <a href="/waste-tracker">Waste Tracker</a>
        </button>
        <button class="navBarButton">
          <a href="/progress-timeline">Progress Tracker</a>
        </button>
        <button class="navBarButton"><a href="/about-us">About Us</a></button>
        <button class="navBarButton"><a href="/binny">Binny</a></button>
        <% if (isLoggedIn) { %>
        <button class="navBarButton"><a href="/settings">Settings</a></button>
        <button class="navBarButton"><a href="/logout">Logout</a></button>
        <% } %>
      </div>
    </div>
    <h1>About Us</h1>

    <div class="circles aboutUs">
      <div>
        <img src="/images/erin.png" />
        <h3>Erin Lee</h3>
        <article>Project Lead</article>
      </div>
      <div>
        <img class="headshots" src="/images/jennifer.jpeg" />
        <h3>Jennifer Lee</h3>
        <article>Project Lead</article>
      </div>

      <div>
        <img class="headshots" src="/images/jennifer.jpeg" />
        <h3>Jenny Xu</h3>
        <article>Developer</article>
      </div>
    </div>

    <div class="circles">
      <div>
        <img class="headshots" src="/images/karen.jpeg" />
        <h3>Karen Wang</h3>
        <article>Developer</article>
      </div>
      <div>
        <img class="headshots" src="/images/gabby.jpeg" />
        <h3>Gabrielle Seib-Napolitan</h3>
        <article>Developer</article>
      </div>

      <div>
        <img class="headshots" src="/images/gulzar.jpeg" />
        <h3>Gulzar Attari</h3>
        <article>Developer</article>
      </div>
    </div>
    <div class="single">
      <h3>Nina Murphy</h3>
      <article>Developer</article>
    </div>
  </body>
</html>
