.page {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 70px; 
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px; 
}

#name {
    font-family: "Manrope", "Arial", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #1F4B22;
}


#description {
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 26px; 
    color: #1F4B22;
}

.info {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 20px;
    display: flex; 
    margin-left: 80%;
    text-decoration: underline;
    gap: 5px;
    margin-bottom: 40px;
    
}

.camera {
    border: 1px solid #A1D88E;
    background-color: #A1D88E;
    border-radius: 78px;
    height: 633px;
    width: 782px;
    margin: auto; 
    margin-bottom: 150px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.camera_screen {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 11px;
    height: 447px;
    width: 627px;
    margin-top: 70px;
    /* margin: auto; */
}

.camera_button {
    height: 82px;
    width: 82px;
    border-radius: 50%;
    margin: 20px 0px;
    /*font-family: "Manrope", sans-serif;*/
    background-color: #26662B;
    color: #CEFFBE;
    border: 5px solid #64A669;
}
