.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px; 
}

.name {
    font-family: "Manrope", "Arial", sans-serif;
    font-size: 50px;
    color: #1F4B22;
}

#description {
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 26px; 
    margin-top: -15px;
    margin-bottom: 25px; 
}

.camera {
    border: 1px solid #A1D88E;
    background-color: #A1D88E;
    border-radius: 78px;
    height: 633px;
    width: 782px;
    margin: auto; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.camera_screen {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 11px;
    height: 447px;
    width: 627px;
    margin-top: 60px;
    /* margin: auto; */
}

.camera_button {
    height: 82px;
    width: 82px;
    border-radius: 50%;
    margin: 25px 0px;
    /*font-family: "Manrope", sans-serif;*/
    background-color: #26662B;
    color: white;
    border: 5px solid #64A669;
}
