<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title>Green Scan</title>
        <link rel="stylesheet" href="index.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
          rel="stylesheet"
        />
        <link 
          href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" 
          rel="stylesheet"
        />
        <link rel="stylesheet" href="green-scan.css"/>

    </head>
    <body>
      <div class="navBar">
          <div class="navBar">
            <div>
              <a href="/"><img class="logoPic" src="binny.svg"/></a>
            </div>
            <div>
              <h1>RecycleRight</h1>
            </div>
          </div>
          <div class="rightButton">
            <button class="navBarButton"><a href="/login">Log In/Sign Up</a></button>
            <button class="navBarButton">
              <a href="/recycling-guide">Recycling Guide</a>
            </button>
            <button class="navBarButton">
              <a href="/waste-tracker">Waste Tracker</a>
            </button>
            <button class="navBarButton">
              <a href="/progress-timeline">Progress Tracker</a>
            </button>
            <button class="navBarButton"><a href="/about-us">About Us</a></button>
            <button class="navBarButton"><a href="/binny">Binny</a></button>
            <button class="navBarButton"><a href="/settings">Settings</a></button>
            <button class="navBarButton">
              <a href="/green-scan">Green Scan</a>
            </button>
            <!-- <button class="navBarButton"><a href="/logout">Logout</a></button> -->
          </div>
      </div>
      <div class="page"> 
        <div class="info">
          <span> What's this? </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="black" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16m-1-5h2v2h-2zm2-1.645V14h-2v-1.5a1 1 0 0 1 1-1a1.5 1.5 0 1 0-1.471-1.794l-1.962-.393A3.501 3.501 0 1 1 13 13.355" />
          </svg>
        </div>
        <div class="header">
          <div class="heading">
            <span id="name">GreenScan</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="65px" height="65px" viewBox="0 0 24 24">
              <g fill="none" fill-rule="evenodd">
                <path d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z" />
                <path fill="#1f4b22" d="M14.165 3.25c-.962-1.667-3.368-1.667-4.33 0L8.438 5.67a1.5 1.5 0 0 0 2.598 1.5L12 5.5l2.22 3.846a1.5 1.5 0 0 0-.243 2.943l2.898.776a1.48 1.48 0 0 0 1.278-.241c.274-.202.468-.48.56-.82l.776-2.897a1.5 1.5 0 0 0-2.67-1.26zM2.041 16.75l2.653-4.596a1.5 1.5 0 0 1-.243-2.943l2.898-.776a1.503 1.503 0 0 1 1.837 1.06l.777 2.899a1.5 1.5 0 0 1-2.67 1.26L5.072 17.5H7a1.5 1.5 0 0 1 0 3H4.206c-1.925 0-3.127-2.083-2.165-3.75m18.521-2.42a1.5 1.5 0 0 0-2.598 1.5l.964 1.67h-4.44a1.5 1.5 0 0 0-2.427-1.682l-2.114 2.114c-.276.272-.447.65-.447 1.068c0 .412.16.786.447 1.069l2.114 2.113a1.5 1.5 0 0 0 2.426-1.682h5.307c1.925 0 3.128-2.083 2.165-3.75z" />
              </g>
            </svg>
            <br/>
          </div>
          <span id="description"> Scan barcode below! </span>
        </div>
        <div class="camera">
          <div class = "camera_screen">
            <p>Is it recyclable? </p>
            <div id="answer"> YES </div>
            <p> Additional Information </p>
            <p> Please take this material to a special recycling location </p>
          </div>
          <button class = "camera_button">          
            <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd" d="M7.574 4.336A3 3 0 0 1 10.07 3h3.86a3 3 0 0 1 2.496 1.336l.812 1.219A1 1 0 0 0 18.07 6H19a3 3 0 0 1 3 3v9a3 3 0 01-3 3H5a3 3 0 0 1-3-3V9a3 3 0 0 1 3-3h.93a1 1 0 0 0 .832-.445l.812-1.22zM10 13a2 2 0 11 4 0a2 2 0 0 1-4 0m2-4a4 4 0 1 0 0 8a4 4 0 0 0 0-8" clip-rule="evenodd"/></svg>
          </button>
        </div>
        <p id="description"> Press the camera button to scan another barcode </p>
      </div>
    </body>
</html>