body {
    background-color: #E9FFE1;
    margin:0px;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.Welcome {
    height: 200px;
    background-color: white;
}

h3 {
    text-align: center;
}
.logoPic {
    width: 100px;
    height: 100px;
}
.navBar {
    background-color:#A1D88E;
}
    
.navBar h1 {
    text-align: left;
    margin: 0px;
    padding: 10px;
}
p {
    font-size: 30px;
    border-width: 400px;
}
div {
    text-align: center;
}
h3 {
    text-align: center;
}
.section {
    display: flex;
    justify-content: space-between;
}
.left {
    align-items: left;
    width: 50%;
}
.right {
    align-items:right;
    width: 50%;
}
.right h1 {
    font-size: 30px;
    text-align: center;
}
.right h2 {
    font-size: 15px;
    text-align: center;
}

.mainImage {
    margin: 0px;
}

#blue {
    background-color: #82D0C8;

}
#white{
    background-color: white;
}
