/* index styling */
body {
    background-color: #E9FFE1;
    margin:0px;
    /* text-align: center; */
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.Welcome {
    height: 200px;
    background-color: white;
}

.homeh3 {
    text-align: center;
}

.logoPic {
    width: 100px;
    height: 100px;
}

.navBar {
    background-color:#A1D88E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}
    
.navBar h1 {
    /* margin-top: -21px; */
    text-align: left;
}

.rightButton {
    margin-right: 18px;
}

p {
    font-size: 30px;
    border-width: 400px;
}

/* div {
    text-align: center;
} */

.section {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.left {
    align-items: left;
    width: 50%;
}
.right {
    align-items:right;
    width: 50%;
}
.right h1 {
    font-size: 30px;
    text-align: center;
}
.right h2 {
    font-size: 15px;
    text-align: center;
}

.mainImage {
    margin: 0px;
}

#blue {
    background-color: #82D0C8;

}
#white{
    background-color: white;
}

.navBarButton{
    border-color:black;
    background-color:#E6FFDB;
    color: black;
    padding: 10px;
    font-family: "Manrope", sans-serif;
    margin: 10px;
    /* a:link {
        color: black;
        text-decoration: none;
    }
    a:visited {
        color: black;
        text-decoration: none;
    } */
    a {
        color: black;
        text-decoration: none;
    }
}

.sectionButton {
    border-color: black;
    background-color:white;
    color: black;
    padding: 10px;
    font-family: "Manrope", sans-serif;
    margin: 10px;
    a:link {
        color: black;
        text-decoration: none;
    }
    a:visited {
        color: black;
        text-decoration: none;
    }
}


/* login page ------------------------------------------------------------------------- */
.loginPage h1 {
    text-align: center;

}

.loginPageText {
   font-size: 20px;
}

.greenBox {
    background-color: #94C085;
    border-radius: 7px; 
    width: 27%;
    margin-left: auto;
    margin-top: 150px;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    vertical-align: center;
    line-height: 2;
    text-align: center;
    /* padding-top: 40px; */

    }
.loginbutton {
    border-color: black;
        background-color:white;
        color: black;
        padding: 5px;
        font-family: "Manrope", sans-serif;
        margin: 5px;
        border-radius: 4px;
        a:link {
            color: black;
            text-decoration: none;
        }
        a:visited {
            color: black;
            text-decoration: none;
    }
    
}

/* register page ------------------------------------------------------------------------- */
.registerpage{
    background-color: #E9FFE1;
   
    .register {
        background-color: #94C085;
        border-radius: 7px; 
        width: 25%;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        align-items: center;
        vertical-align: center;
        line-height: 2;
        text-align: center
        
    }
    .registerbutton {
        border-color: black;
        background-color:white;
        color: black;
        padding: 5px;
        font-family: "Manrope", sans-serif;
        margin: 5px;
        border-radius: 4px;
        a:link {
            color: black;
            text-decoration: none;
        }
        a:visited {
            color: black;
            text-decoration: none;
    }
}
}

/* about us page ------------------------------------------------------------------------- */
.aboutUs {
    align-items: center;
    border-radius: 10 px;
    /* background-color: white; */
    font-family: "Manrope", sans-serif;
    padding: 10px;
    border-color: #4D7602;
    text-align: center;
}

.headshots {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
}

.circles {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    padding: 50px;
}

.single {
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 20px;
}

.placeholder {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 50%;
    display: inline-block;
}

/* binny page ------------------------------------------------------------------------- */
h1 {
    text-align: center
}
h3 {
    text-align: center;
}
 .logoPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
 }
 .stars {
    color: turquoise;
    
 }
 .binnyText {
    text-align: center;
 }
/* recycling guide page ------------------------------------------------------------------------- */
.recycleText {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.recyclingHeader {
    text-align: center;
    background-color: #E9FFE1;
    padding-left: -40px;
}
.compostingHeader h1 {
    text-align: center;
    background-color: #E9FFE1;
}

.recycleImg {
    margin-top: 20px;
    width: 30%;
    height: 30%;
}

.smallText {
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
}
/* waste tracker page ------------------------------------------------------------------------- */
.waste {
    /* text-align: center; */
    margin: 50px;
    display: flex;
    justify-content: center;
}

/* table {
    table-layout: fixed;
    width: 100%;
} */

/* settings page ------------------------------------------------------------------------- */
.settingspage {
    background-color: white;
    font-family: "Manrope", sans-serif;
}
.settingsbox {
    background-color: #94C085;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 7px;
    text-align: center;

}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    top: 5px;
    left: 8px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  .settings {
    font-size: 15px;
  }
  .settingheader {
    font-size: 25px;
  }
  .change {
    border-color: black;
    background-color:white;
    color: black;
    padding: 5px;
    font-family: "Manrope", sans-serif;
    margin: 5px;
    border-radius: 4px;
    a:link {
        color: black;
        text-decoration: none;
    }
    a:visited {
        color: black;
        text-decoration: none;
}
}

/* progress timeline page ----------------------------------------------------------------- */
.progress {
    text-align: center;
}