h1 {
    font-size: 1000000px;
    font-family: "Manrope", sans-serif;
    background-color: white;
}

.greenBox {
    background-color: lightgreen;
}

body {
    .register {
        font-size: 20px;
    }
}
